.{
    background-color: #355C7D;
    background-color: #6C5B7B;
    background-color: #C06C84;
    background-color: #F67280;
    background-color: #F8B195;
    
    color: #7a7a7a;
    background-color: #262626;
    color: #161616;
    color: #0d0d0d;
    color: #17171799;
    color: #cccccc;



}
